<!DOCTYPE html>
<html>

<head>
   
</head>

<body class="hero">
    
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6  get-it">
                    <h1>La movilidad que necesitas</h1>
                
                </div>
                <div class="col-md-4 col-md-push-1 phone-preview">
                    <div class="login-card" id="LogDiv">
                    	<%= link_to " <button class= btn btn-primary btn-block btn-info btn-reg> Registrate</button>".html_safe, new_user_registration_path %> 
                    	<%= link_to " <button class= btn btn-primary btn-block btn-warning> Entrar</button>".html_safe, new_user_session_path %> 
        
                    </div>
                
            </div>
        </div>
    </div>
    </div>
    <section class="testimonials"></section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Tappxi© 2017</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>